#header-logo {
  margin: 0 0;
  display: block;
  z-index: 100;
  position: relative; }

#masthead h1 {
  display: none; }

#hero-photo {
  margin: 0 auto;
  display: block; }

#main-nav {
  margin-top: -45px; }

#welcome {
  background: #333;
  color: #fff; }
  #welcome h5 {
    color: #fff;
    text-align: center; }
  #welcome p {
    margin: 0; }
  #welcome p.special {
    background: #222;
    padding: .3rem;
    margin: 5px 0; }

#farm-fresh {
  margin: 2em auto; }
  #farm-fresh #tomato {
    -webkit-transform: rotate(-7deg);
    float: left;
    margin: 15px 15px 15px 0; }
  #farm-fresh a {
    display: inline-block;
    margin: 1em 0 0 0;
    clear: left; }

#faq {
  background: #eee;
  margin: 4em auto; }
  #faq img {
    margin: 15px 0; }

#footer {
  background: #999; }

#events-list {
  background: #eee;
  margin: -1em 0 2em; }
  #events-list .row {
    margin-bottom: 2em; }

.event-date {
  background: #333;
  color: #fff;
  font-weight: bold;
  margin: 0;
  padding: 1em 0;
  display: block; }

#footer-text {
  text-align: center; }
  #footer-text a {
    color: #fff; }

@media only screen and (min-width: 30em) and (max-width: 48em) {
  #welcome p.special {
    width: 45%;
    float: left; }
  #welcome p.special + p.special {
    margin-left: 5%; } }
@media only screen and (min-width: 48em) {
  #main-nav {
    margin-top: 0; }

  #header-logo {
    float: left;
    margin-right: 20px; }

  #masthead h1 {
    display: inherit;
    line-height: 125px;
    margin: 0;
    padding: 0; }

  #welcome {
    margin-top: -120px; }

  #farm-fresh a {
    margin: 0 1em 0 0; }

  #footer-text {
    text-align: right; } }
