// Base style sheet

$background1: url(../img/paper1.jpg);
$background2: url(../img/paper2.jpg);
$background3: url(../img/paper3.jpg);
$background4: url(../img/bg-green.jpg);
$background5: url(../img/bg3.jpg);
$callout-bg: url(../img/callout-bg.png);

$light-font-color: #EEE5C2; //cream
$font-color-two: #3E7300; //grass green

.text-center{
	text-align: center;
}

body {
	background: $background1;
}

.ico {
	display: inline-block;
	overflow: hidden;
	text-indent: -999em;
	background: url(../img/sprite.png) no-repeat 0 0;
}

.link-list {
	list-style-type: none;

	li {
		list-style-type: none;
		background: $background2;
		border-radius: 3px;
		padding: .5em 1em;
		margin-bottom: .5em;
		font-size: .875em;

		a {font-family: $header-font-family;}
	}

	li:hover {
		background: $background3;
		cursor: pointer;

		a {color: $light-font-color;}
	}
}

#header-logo{
	margin: 0 0;
	z-index: 100;
	position: relative;
}


#masthead{
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.top-bar {
	margin-bottom: 0;
	background: $background2;
	font-family: $header-font-family;
	font-size: emCalc(13px);

	section li  {
		background: $background2;
	}
}

.top-bar-section {
	
	li a:not(.button) {background: transparent;} 
	li a:not(.button):hover {
		font-weight: normal;
		background: #B6B081;
		background: rgba(73, 63, 52, 0.18);
	}
	ul li > a {background: transparent;}
}

.top-bar-section li a:not(.button),
.top-bar-section ul li > a {
	background: transparent;
}

#hero-photo{
	margin: 0 auto;
	display: block;
	
}

#header-cart{
	text-align: right;
	font-family: $header-font-family;
	font-size: .875em;
	line-height: 2em;

	a {color: $body-font-color;}
	a:hover {color: $primary-color;}

	.basket {
		width: 32px; height: 25px;
		margin-right: .5em;
		background-position: 0 2px;
	}
	.basket.full {
		background-position: 0 -34px;
	}
}


#welcome{
	background: $callout-bg;
	color: $light-font-color;
	padding: .25em;
	margin-bottom: 3em;

	#welcome-inner {
		border: 3px solid #D33C1A;
		padding: emCalc(20px) emCalc(8px) emCalc(8px);
	}
	
	h3{text-align: center;}
	h4 {
		color: #7BB623; 
		font-weight: normal;
		font-size: emCalc(13px);
		text-align: center;
		margin-bottom: 1em;
	}
	
	p{
		margin: 0;
	}
	
	ul {margin: .5em 0 0;}

	li {
	background:rgb(73,59,46);
	background:rgba(0,0,0,0.15);
	padding: .5rem;
	margin: 5px 0;
	list-style-type: none;
	text-align: center;
	}
}



#farm-fresh{

	margin: 2em auto;

	h3 {
		font-size: emCalc(16px);
		color: lighten($body-font-color, 15%);
	}

	h3, h4 {line-height: 1.2em;}
	
	#tomato{
		-webkit-transform:rotate(-7deg);
		float:left;
		margin: 0 2em 2em 0;
	}
	
	// a{
	// 	display: inline-block;
	// 	margin: 1em 0 0 0;
	// 	clear: left;
	// }
}


#faq{
	background: $background2;
	margin: 4em auto 0;
	padding-bottom: 4em;

	
	h3 {
		margin-top: -36px;
		margin-bottom: .5em;
		line-height: 1;
		width: 320px;
	}

	h4 {
		font-family: $body-font-family;
		margin: 0;
		line-height: 1.5em;
	}

	dt,
	dd {
		padding-left: 4em;

		.qna-inner {
			background: rgb(219,208,190);
			background: rgba(255,255,255,0.2);
			-moz-border-radius:5px;
			-webkit-border-radius:5px;
			border-radius: 5px;
			padding: 1em;
		}
	}

	dt {
		background: url(.../img/q.png) no-repeat .5em .5em;
		margin-bottom: 1em;
	}

	dd {
		background: url(.../img/a.png) no-repeat 0 .5em;
	}

}


#footer{
	background: $background3;
}
#events-list{
	background: $background1;
	margin: -1em 0 2em;
	
	.row{
		margin-bottom: 2em;
	}

	h4 {
		margin: 1em 0 1em 1em;
	}
	
}
.event-date{
	background: $background2;
	margin: 0;
	padding: 1em 0;
	display: block;
	border-radius: 0 3px 3px 0;
}

p.event-description{
	
}

#footer-text{
	background: url(../img/wind_turbine.png) no-repeat 100% 100%;
	text-align: center;
	color: rgb(211, 199, 164);

	h5 {color: rgb(218, 187, 90);}

	a{
		color: rgb(218, 187, 90);
	}
	
}

@media only screen and (min-width: 30em) and (max-width: 48em){
#welcome{

	p.special{
		width: 45%;
		float: left;
	}
	
	p.special+p.special{
		margin-left: 5%;
	}
}

}


@media only screen and (min-width: 48em) {

#main-nav{
	margin-top:0;
}



#header-logo{
	float: left;
	margin-right: 20px;
}


#masthead{
	h1{
		display:inherit;
		line-height: 125px;
		margin: 0;
		padding: 0;
	}
}


#welcome{
	margin-top: -120px;
}



#farm-fresh{
	a{margin: 0 1em 0 0;}
	h3, h4 {line-height: 1em;}
}

#faq { 
	h3 {margin-top: -30px;}
	h4 {line-height: 1em;}
}

#footer-text{
	padding: 2em 5em 2em 0;
	text-align: right;
}


}
