// Base style sheet



.text-center{
	text-align: center;
}

body {
	background: url(../img/bg.jpg);
}

.ico {
	display: inline-block;
	overflow: hidden;
	text-indent: -999em;
	background: url(../img/sprite.png) no-repeat 0 0;
}

.link-list {
	list-style-type: none;

	li {
		list-style-type: none;
		background: url(../img/bg2.jpg);
		border-radius: 3px;
		padding: .5em 1em;
		margin-bottom: .5em;

		a {font-family: $header-font-family;}
	}
}

#header-logo{
	margin: 0 0;
	z-index: 100;
	position: relative;
}


#masthead{
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.top-bar {
	margin-bottom: 0;
	background: url(../img/bg2.jpg);
	font-family: $header-font-family;
	font-size: emCalc(13px);

	section li  {
		background: url(../img/bg2.jpg);
		background: url(../img/bg2.jpg);
	}
}

.top-bar-section {
	
	li a:not(.button) {background: transparent;} 
	li a:not(.button):hover {
		font-weight: normal;
		background: #B6B081;
		background: rgba(73, 63, 52, 0.18);
	}
	ul li > a {background: transparent;}
}

.top-bar-section li a:not(.button),
.top-bar-section ul li > a {
	background: transparent;
}

#hero-photo{
	margin: 0 auto;
	display: block;
	
}

#header-cart{
	text-align: right;
	font-family: $header-font-family;
	font-size: .875em;
	line-height: 2em;

	a {color: $body-font-color;}
	a:hover {color: $primary-color;}

	.basket {
		width: 32px; height: 25px;
		margin-right: .5em;
		background-position: 0 2px;
	}
	.basket.full {
		background-position: 0 -34px;
	}
}


#welcome{
	background: #333 url(../img/callout-bg.png);
	color: #EEE5C2;
	padding: .25em;
	margin-bottom: 3em;

	#welcome-inner {
		border: 3px solid #D33C1A;
		padding: emCalc(20px) emCalc(8px) emCalc(8px);
	}
	
	h3{text-align: center;}
	h4 {
		color: #79CF19; 
		font-weight: normal;
		font-size: emCalc(13px);
		text-align: center;
		margin-bottom: 1em;
	}
	
	p{
		margin: 0;
	}
	
	ul {margin: .5em 0 0;}

	li {
	background:rgb(73,59,46);
	background:rgba(0,0,0,0.15);
	padding: .5rem;
	margin: 5px 0;
	list-style-type: none;
	text-align: center;
	}
}



#farm-fresh{

	margin: 2em auto;

	h3 {
		font-size: emCalc(16px);
		color: lighten($body-font-color, 15%);
	}
	
	#tomato{
		-webkit-transform:rotate(-7deg);
		float:left;
		margin: 0 2em 2em 0;
	}
	
	// a{
	// 	display: inline-block;
	// 	margin: 1em 0 0 0;
	// 	clear: left;
	// }
}


#faq{
	background: #eee url(../img/bg2.jpg);
	margin: 4em auto 0;
	padding-bottom: 4em;

	
	h3 {
		margin-top: -40px;
		margin-bottom: 0;
		line-height: 1;
	}

	h4 {
		background: url(../img/bg2.jpg);
		// color: #E3CD6A;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius: 5px;
		font-family: $body-font-family;
		padding: .5em;
	}

	img{
			margin: 15px 0;
	}
}


#footer{
	background: #999 url(../img/bg3.jpg);
}
#events-list{
	background: #eee;
	margin: -1em 0 2em;
	
	.row{
		margin-bottom: 2em;
	}
	
}
.event-date{
	background: #333;
	color: #fff;
	font-weight: bold;
	margin: 0;
	padding: 1em 0;
	display: block;
}

p.event-description{
	
}

#footer-text{
	text-align: center;
	
	a{
		color: #fff;
	}
	
}

@media only screen and (min-width: 30em) and (max-width: 48em){
#welcome{

	p.special{
		width: 45%;
		float: left;
	}
	
	p.special+p.special{
		margin-left: 5%;
	}
}

}


@media only screen and (min-width: 48em) {

#main-nav{
	margin-top:0;
}



#header-logo{
	float: left;
	margin-right: 20px;
}


#masthead{
	h1{
		display:inherit;
		line-height: 125px;
		margin: 0;
		padding: 0;
	}
}


#welcome{
	margin-top: -120px;
}



#farm-fresh{
	a{
				margin: 0 1em 0 0;

	}
}

#faq h3 {margin-top: -50px;}

#footer-text{
	text-align: right;
}


}
