#kitchen{
	
	ul{
		list-style-position: inside;
	}
	
	h5{
		border-bottom: 1px solid $md;
	}
	
	#date{
		margin-top:-.6rem;
		text-align: center;
		margin-bottom: 1em;
				
		a{
		font-size: .85rem;
		margin-left: 5px;
		}
	}


}


#catering{
	margin:2rem auto;

	// .row{
	// 	background: $lt;
	
	// }

	// div:first-child{
	// 	background: $lt;
	// }
	
}

#catering-menus{
	.large-12{
		margin-top: 3rem auto;
	}
}
