// Global Foundation settings and variables
@import "settings";

// Site specific variables
@import "variables";

// Site specific mixins
@import "mixins";

// Site specific styles
@import "base";
@import "market";
@import "kitchen";
@import "recipes";
@import "online-store";
@import "events";
// Style guide 
@import "style_guide";

.orbit-bullets {
	display: none;
}
label {
	background: #f2f2f2;
	border: solid 1px #d9d9d9;
	border-right: none;
	color: #333333;
	float: left;
	width: 25%;
	display: block;
	line-height: 2.25em;
	text-align: center;
}
input {
	float: left;
	width: 75%;
}
input[type="submit"] {
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-webkit-transition: background-color 300ms ease-out;
-moz-transition: background-color 300ms ease-out;
transition: background-color 300ms ease-out;
order-style: solid;
border-width: 1px;
cursor: pointer;
font-family: inherit;
font-weight: bold;
line-height: 1;
margin: 0 0 1.25em;
position: relative;
text-decoration: none;
text-align: center;
display: inline-block;
padding-top: 0.75em;
padding-right: 1.5em;
padding-bottom: 0.8125em;
padding-left: 1.5em;
font-size: 1em;
background-color: #d33c1a;
border-color: #a62f14;
color: white;
width: auto;
}
input[type="submit"]:hover {
    background-color: #a62f14; }